/*Close button slight animation*/

@keyframes close{
    0% {
        background-color : $color-1;
    }

    100% {
        background-color : red;
        color: white;
        background-color: red;
        border: solid 2px black;
    }
}

@keyframes buttonShadow {
    0%  {
        box-shadow: 5px 5px 0 black,
		-5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
    }

    100% {
        box-shadow: 20px 5px 0 black, -20px -5px 0 black;
    }
}