#articleContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 2px solid black;
    margin: 10px;
    min-height: 30px;
    font-family: $font-1;
    background-color: $color-1;
    align-items: center;
    overflow: hidden;
    &:hover {
        border: 2px solid $color-2;
    }

    #articleTitle {
        width: 100%;
        text-align: center;
        margin: 5px;
        letter-spacing: 1.5px;
    }

    #articleArticle {
        display: block;
        width: 100%;
        height: 100px;
        white-space: normal;
    }

    #articleText {
        display: block;
        word-wrap: break-word;
        overflow: hidden;
        padding: 10px;
    }
}

#linkContainer {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;

    #deleteTitle {
        text-align :center;
    }
}



#feedContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #444852;
        
    a {
        text-decoration: none;
    }

}

#openPopup {
    background-image: linear-gradient(to right, $color-bg 0%, $color-2  51%, $color-bg  100%);
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    align-self: center;
    border: 2px solid white;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-3;
    letter-spacing: 1px;
    height: 42px;
    width: 200px;
    &:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    } 
}


@media screen and (max-width: 479px) {
    #articleContainer{
        width: 100%;
    }   
}