#allComments {
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    border: solid 2px black;
    align-self: center;
    margin: 5px;
    background-color: $color-1;
    color: black;
    text-shadow: none;

    &__infos {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid black;
        padding: 10px;
        font-size: 14px;
        justify-content: center;
    }

    &__user {
        margin-bottom: 5px;
    }

    &__comment {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: center;
        text-align: center;
        font-size: 16px;
    }
}

#msgForm {
    padding: 10px;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
    align-items: center;

    #comment{
        align-self: center;
        width: 60%;
        padding: 5px;
        border: 1px solid $color-2;
        margin: 5px;
        height: 50px;
        font-size: 15px;
    }

    #submit {
        height: 50px;
    }
}
