.chatbox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messagesDisplay {
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 50vh;
    background-color: $color-1;
    font-family: $font-3;
    font-size: 16px;
    background-color: #444852;
}
    

.submitmsg {
    height: 35px;
    width: 11%;
    font-size: 18px;
    font-weight: bold;
    font-family: $font-1;
    letter-spacing: 0.5px;
    border: solid 2px black;
}

.sendbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.usermsg {
    width: 50%;
    margin-right: 10px;
    font-size: 16px;
    font-family: $font-3;
    border: solid 2px black;
    padding-left: 10px;
}