.connect {
    margin: 20px;
    display: flex;

    a {
        margin: 10px;
        padding: 10px;
        position: relative;
        font-size: 20px;
        margin-top: 0px;
    }

    .nav-active {
        border-bottom: 4px solid $color-2;
    }

    .fa-sign-in-alt {
        font-size: 20px;
    }

    .fa-sign-out-alt {
        margin-left: 5px;
    }

    .fa-user-plus {
        font-size: 18px;
    }

    .active {
        display: flex;
        flex-direction: row;
    }

    p {
        color : $color-1;
        margin-right: 5px;
        font-family: $font-3;
        font-weight: bold;
    }
}

@media (max-width : 768px) {
    .connect {
        margin-bottom: 0;
        margin-top: 5px;
    }
}