.error {
    margin-top: 15px;
    height: 35px;
    font-size: 18px;
    color: white;
    font-size: $font-1;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(212, 45, 45);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    padding: 22px;
}

.error2 {
    color : rgb(255, 0, 0);
    font-size: 15px;
    padding-left: 25px;
    font-weight: bold;
    margin-top: -10px;
}

.fa-exclamation-triangle {
    margin-right: 30px;
    font-size: 25px;
}

.success {
    margin-top: 15px;
    height: 35px;
    font-size: 19px;
    color: rgb(196, 196, 196);
    font-size: $font-1;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(0, 170, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    padding: 25px;
}