.footer {
    background-color: rgb(51, 51, 51);
    border-top: 3px solid $color-2;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    padding: 40px;

    .footerRow1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;
        ul {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-self: center;
            margin: 10px;

            a {
                text-decoration: none;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            color: $color-1;
            font-family: $font-1;
            font-size: 20px;
            padding: 10px;
            margin: 10px;
            border-bottom: 1px solid rgb(51, 51, 51);
                &:hover {
                    color: $color-2;
                    border-bottom: 1px solid $color-2;
                }
        }

        .logo {
            width: 500px;
            align-self: center;
            justify-self: center;
            padding: 0;
            margin: 0;
        }
    }


    /*Social media animations*/

        .logo-list {
            font-size: 40px;
            color:#545e6e;
            text-align: center;
        }

        .media {
            padding: 15px;
            color: $color-1;
            transition: 0.6s ease-in-out;
            &:hover{
                font-size: 48px;
            }
        }

        .twitter {
            &:hover {
                color: $color-2 ;
            }
        }

        
        .facebook {
            &:hover {
                color: #3b5998;
            }
        }

        
        .google {
            &:hover {
                color: red;
            }
        }
        
        .instagram {
            &:hover {
                background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        
        .share {
            &:hover {
                color: black; 
            }
        }

/*mobile format*/
    @media (max-width: 915px) {
        .footerRow1{
            flex-direction: column;
            padding-bottom: 0;
            height: 80%;


            .logo {
                width: 50%;
            }
        }
    }

    @media (max-width: 471px) {
        padding: 25px;
        .footerRow1{
            flex-direction: column;
            padding-bottom: 0;
            height: 80%;


            .logo {
                width: 80%;
            }
        }
    }

}

