/*component*/
.navigation {
    margin: 20px;
    display: flex;

    a {
        margin: 10px;
        padding: 10px;
        position: relative;
        font-size: 18px;
    }

    .nav-active {
        border-bottom: 4px solid $color-2;
    }
}

/*header*/

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
            a {
             text-shadow: 1px 1px 5px black;
            }
    }

    
    /*mobile format*/

    @media (max-width : 768px) {
        header {
            flex-direction: column;
            align-items: center;
        }

        .navigation {
            order : 2;
            margin-top: 0;
        }
    }