.navigation {
    margin: 20px;
    display: flex;

    a {
        margin: 10px;
        padding: 10px;
        position: relative;
        font-size: 18px;
    }

    .nav-active {
        border-bottom: 4px solid $color-2;
    }
}