#singleContainer {
    display: flex;
    flex-direction: column;
    background-color: $color-1;
    font-family: $font-1;
    padding: 10px;
    margin-top: 15px;
    background-color: #444852;
    color: $color-1;
    text-shadow: 0 0 10px black;
    letter-spacing: 1px;

    &__infos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 18px;
    }

    &__title {
        text-align: center;
        width: 100%;
        padding-top: 40px;
        font-size:24px;
    }

    &__article{
        width: 100%;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
        word-break: break-word;
    }

    &__borderSection {
        width: 60%;
        border-top: 2px solid $color-2;
        align-self: center;
        margin:30px;
    }

    &__comments{
        text-align: center;
        padding: 10px;
    }
}