#singleContainer {
    display: flex;
    flex-direction: column;
    background-color: $color-1;
    font-family: $font-1;
    padding: 10px;
    margin-top: 15px;
    background-color: #444852;
    color: $color-1;
    text-shadow: 0 0 10px black;
    letter-spacing: 1px;

    &__infos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 18px;
    }

    &__title {
        text-align: center;
        width: 100%;
        padding-top: 40px;
        font-size:24px;
    }

    &__article{
        width: 80%;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
        word-break: break-word;
        align-self: center;
    }

    &__borderSection {
        width: 90%;
        border-top: 2px solid $color-2;
        align-self: center;
        margin:30px;
    }

    &__comments{
        text-align: center;
        padding: 10px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 25px;
        font-family: $font-1;
        font-size: 20px;
        text-shadow: none;
        color: black;
    }

    &__articlePop{
        float: left;
        height: 50vh;
        box-sizing: border-box;
        display: block;
        margin-top: 10px;
        font-size: 15px;
        font-family : $font-3;
        padding-top: 5px;
        padding-left: 5px;
        border: 1px solid $color-2;
    }

    &__titlePop {
        height: 5vh;
        vertical-align: top;
        margin-top: 10px;
        font-size: 17px;
        font-family : $font-3;
        padding-left: 5px;
        border: 1px solid $color-2;
    }

    &__articleSubmit {
        width: 40vh;
        align-self: center;
        height: 5vh;
        font-family: $font-1;
        font-size: 18px;
    }

    &__articleForm {
        display: flex;
        flex-direction: column;
    }

    &__articleSubmit {
        width: 40vh;
        align-self: center;
        height: 5vh;
        font-family: $font-1;
        font-size: 18px;
    }

    &__openPopup {
        width: 40vh;
        align-self: center;
        height: 5vh;
        font-family: "Do Hyeon", sans-serif;
        font-size: 18px;
    }

    &__articleDelete {
        padding: 8px;
        background: white;
        color: red;
        border: 1px solid red;
        font-family: $font-3;
        font-weight: bold;
        align-self: center;
        font-size: 20px;
            &:hover {
                cursor: pointer;
                background: red;
                color : white;
                border: 1px solid black;
            }
    }
}
